<%@ CodeTemplate Inherits="CodeTemplate" TargetLanguage="java" Language="C#" Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CustomCodeSmithHelper" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="CustomCodeSmithHelper" %>

<%-- 要打印的表 --%>
<%@ Property Name="Table" Type="TableSchema" DeepLoad="True" Optional="False" Category="01. Getting Started - Required"Description="Database that the tables views, and stored procedures shouldbe based on. IMPORTANT!!! If SourceTables and SourceViews are left blank, theEntire Database will then be generated." %>
<%@ Property Name="DeveloperName" Type="String" Category="Context" Description="The name to include in the comment header" %>
<%@ Property Name="ModulePackageName" Type="String" Category="Context" Description="The name to include in the comment header" %>

package com.zee.app.generate.swagger.<%=ModulePackageName%>;

import java.io.IOException;
import java.util.HashMap;
import java.util.Map;

import org.apache.commons.lang.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;

import com.zee.app.generate.swagger.base.BaseSwgApp;
import com.zee.bll.extend.split.<%=ModulePackageName%>.<%=StringUtil.ToPascalCase(Table.Name)%>SplBll;
import com.zee.bll.extend.unity.<%=ModulePackageName%>.<%=StringUtil.ToPascalCase(Table.Name)%>UntBll;
import com.zee.ent.extend.<%=ModulePackageName%>.<%=StringUtil.ToPascalCase(Table.Name)%>;
import com.zee.ent.custom.ResultModel;
import com.zee.ent.parameter.<%=ModulePackageName%>.<%=StringUtil.ToPascalCase(Table.Name)%>Parameter;
import com.zee.utl.DateUtils;
import com.zee.set.symbolic.CustomSymbolic;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import net.sf.json.JSONArray;
import net.sf.json.JSONObject;


/**
 * @author <%= DeveloperName%>
 * @createDate 2017/05/22 15:00:55
 * @updateDate <%= DateTime.Now %>
 * @description <%=Table.Description%> 对外接口，扩展自BaseSwgApp，自动生成。
 */

@Api(value = "<%=StringUtil.ToPascalCase(Table.Name)%>",tags="<%=Table.Description%>")
@RequestMapping(value = "/generate/swagger/<%=ModulePackageName%>/<%=StringUtil.ToCamelCase(Table.Name)%>")
public class <%=StringUtil.ToPascalCase(Table.Name)%>GenSwgApp extends BaseSwgApp {

	@Autowired
	@Qualifier("<%=StringUtil.ToCamelCase(Table.Name)%>UntBll")
	protected <%=StringUtil.ToPascalCase(Table.Name)%>UntBll <%=StringUtil.ToCamelCase(Table.Name)%>UntBll;

	@Autowired
	@Qualifier("<%=StringUtil.ToCamelCase(Table.Name)%>SplBll")
	protected <%=StringUtil.ToPascalCase(Table.Name)%>SplBll <%=StringUtil.ToCamelCase(Table.Name)%>SplBll;

	@ApiOperation(value = "新增记录", notes = "新增单条记录")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>") })
	@RequestMapping(value = "/add", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel add(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%> jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.add(jsonData);

		return result;
	}

	@ApiOperation(value = "批量新增", notes = "新增多条记录")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，对象列表", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>AddList") })
	@RequestMapping(value = "/addList", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel addList(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.AddList jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.add(jsonData.getEntityList());

		return result;
	}

	@ApiOperation(value = "删除记录", notes = "根据主键删除相应记录")
	@ApiImplicitParam(paramType = "query", name = "id", value = "用户ID", required = true, dataType = "String")
	@RequestMapping(value = "/delete", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel delete(@RequestParam String id) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.delete(id);

		return result;
	}

	@ApiOperation(value = "删除记录", notes = "根据主键删除相应记录，路径拼接模式")
	@ApiImplicitParam(paramType = "path", name = "id", value = "用户ID", required = true, dataType = "String")
	@RequestMapping(value = "/delete/{id}", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel deleteByPath(@PathVariable("id") String id) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.delete(id);

		return result;
	}

	@ApiOperation(value = "批量删除", notes = "根据主键列表批量删除相应记录")
	@ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，主键列表", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>DeleteByIdList")
	@RequestMapping(value = "/deleteList", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel deleteList(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.DeleteByIdList jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.deleteByIdList(jsonData.getIdList());

		return result;
	}

	@ApiOperation(value = "修改记录", notes = "修改指定记录")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，实体属性", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>") })
	@RequestMapping(value = "/update", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel update(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%> jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.update(jsonData);

		return result;
	}

	@ApiOperation(value = "批量修改", notes = "同时修改多条记录")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，主键列表和要修改为的信息承载实体", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>UpdateList") })
	@RequestMapping(value = "/updateList", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel updateList(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.UpdateList jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.updateList(jsonData);

		return result;
	}
    
    
    @ApiOperation(value = "批量修改", notes = "同时修改多条记录、多个属性为不同值")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，对象列表", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>AddList") })
	@RequestMapping(value = "/updateListWithDff", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
    public ResultModel updateListWithDff(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.AddList jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.updateListWithDff(jsonData.getEntityList());

		return result;
	}
    
    
    @ApiOperation(value = "批量修改", notes = "同时修改多条记录、多个属性为不同值,如果没有此条记录则执行新增")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，对象列表", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>AddList") })
	@RequestMapping(value = "/updateListWithDffOrAdd", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
    public ResultModel updateListWithDffOrAdd(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.AddList jsonData) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.updateListWithDffOrAdd(jsonData.getEntityList());

		return result;
	}
     

	@ApiOperation(value = "单条查询", notes = "根据主键查询记录详细信息")
	@ApiImplicitParam(paramType = "query", name = "id", value = "用户ID", required = true, dataType = "String")
	@RequestMapping(value = "/getModel", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel getModel(@RequestParam String id) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.getModel(id);

		return result;
	}

	@ApiOperation(value = "单条查询", notes = "根据主键查询记录详细信息,路径拼接模式")
	@ApiImplicitParam(paramType = "path", name = "id", value = "用户ID", required = true, dataType = "String")
	@RequestMapping(value = "/getModel/{id}", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel getModelByPath(@PathVariable("id") String id) {
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.getModel(id);

		return result;
	}

	@ApiOperation(value = "模糊查询", notes = "根据查询条件模糊查询")
	@ApiImplicitParams({ @ApiImplicitParam(paramType = "body", name = "jsonData", value = "json字符串，查询参数", required = true, dataType = "<%=StringUtil.ToPascalCase(Table.Name)%>GetList") })
	@RequestMapping(value = "/getList", method = RequestMethod.POST, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel getList(@RequestBody <%=StringUtil.ToPascalCase(Table.Name)%>Parameter.GetList jsonData) {
		// 处理业务与返回数据
		ResultModel result = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.getList(jsonData);

		return result;
	}
    
	@ApiOperation(value = "模糊查询", notes = "根据查询条件模糊查询")
	@RequestMapping(value = "/getListByJsonData", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public ResultModel getListByJsonData() {
		ResultModel resultModel = new ResultModel();

		String jsonData = request.getParameter(CustomSymbolic.CONTROLLER_PARAM_JSON);
		if (StringUtils.isBlank(jsonData))
			return resultModel;

		Map<String, Object> map = new HashMap<String, Object>();
		StringBuffer selectBuffer = new StringBuffer();
		<%
		ColumnSchemaCollection columns = Table.Columns;
StringBuilder builder = new StringBuilder();
builder.Append("select ");
for (int i = 0; i<columns.Count; i++) {
    ColumnSchema col = columns[i];
    builder.Append("A." + col.Name + " " +StringUtil.ToCamelCase(col.Name));
    builder.Append( i == (columns.Count-1)? " ":",");
}

builder.Append(" from " + Table.Name + " A inner join " + Table.Name + " B on A.id=B.id where 1=1 ");
Response.WriteLine("		selectBuffer.append(\""+builder.ToString()+"\");");
            %>
        
        if (!StringUtils.isBlank(jsonData)) {
			JSONObject jsonObject = JSONObject.fromObject(jsonData);

			if (jsonObject.containsKey("selectRows")) {
				JSONArray selectRowsArray = jsonObject.getJSONArray("selectRows");
				if (selectRowsArray.size() > 0) {
					selectBuffer.append(" and A.id in('");
					for (int i = 0; i < selectRowsArray.size(); i++) {
						selectBuffer.append(i == selectRowsArray.size() - 1 ? selectRowsArray.getString(i) + "'" : selectRowsArray.getString(i) + "','");
					}
					selectBuffer.append(")");
				}
			}

			if (jsonObject.containsKey("entityRelated")) {
				JSONObject entityRelatedObject = jsonObject.getJSONObject("entityRelated");
                
<%    
int writeCount=0; 
for(int i=0;i<columns.Count;i++){
            ColumnSchema col =columns[i];
                if(col.Name.Contains("id")||col.Name.Contains("Id")||col.Name.Contains("Code")||col.Name.Contains("Text")||col.Name.Contains("Time"))
                    continue;
            writeCount++;
                if(writeCount==4)break;
              
            %>
				if (entityRelatedObject.containsKey("<%=StringUtil.ToCamelCase(col.Name)%>") && StringUtils.isNotBlank(entityRelatedObject.getString("<%=StringUtil.ToCamelCase(col.Name)%>")))
					selectBuffer.append(" and A.<%=col.Name%> like '%").append(entityRelatedObject.getString("<%=StringUtil.ToCamelCase(col.Name)%>")).append("%'");
				<%} %>
			}

			if (jsonObject.containsKey("page")) {
				JSONObject pageObject = jsonObject.getJSONObject("page");
				map.put("Page", pageObject);
			}

			if (jsonObject.containsKey("orderList")) {
				JSONArray orderListArray = jsonObject.getJSONArray("orderList");
				if (orderListArray.size() != 0)
					selectBuffer.append(" order by ");
				for (int i = 0; i < orderListArray.size(); i++) {
					JSONObject orderColumnObject = orderListArray.getJSONObject(i);
					selectBuffer.append("A." + orderColumnObject.getString("columnName"));
					selectBuffer.append(orderColumnObject.getBoolean("isASC") ? " ASC" : " DESC");
					selectBuffer.append((i + 1) == orderListArray.size() ? " " : " ,");
				}
			}
		}

		map.put("Sql", selectBuffer.toString());

		resultModel = <%=StringUtil.ToCamelCase(Table.Name)%>UntBll.getListBySQL(map);

		return resultModel;
	}

	@RequestMapping(value = "/exportExcel", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
	public void exportExcel() {
		ResultModel resultModel = getListByJsonData();
              <%  String tableDescription=Table.Description;
                if(tableDescription.Contains("。"))
                    tableDescription=tableDescription.Substring(0,tableDescription.IndexOf("。")); %>
		String fileName = "<%=tableDescription%>列表数据" + DateUtils.getCurrentDateStr() + ".xls";
		String jsonData = request.getParameter(CustomSymbolic.CONTROLLER_PARAM_JSON);
		JSONArray columnInfoList = new JSONArray();
		if (!StringUtils.isBlank(jsonData)) {
			JSONObject json = JSONObject.fromObject(jsonData);

			if (json.containsKey("columnInfo")) {
				columnInfoList = json.getJSONArray("columnInfo");
			}
		}

		if (resultModel != null) {
			try {
				exportExcel(fileName, columnInfoList, resultModel);
			} catch (IOException e) {
				e.printStackTrace();
			}
		}

	}

}




