<%@ CodeTemplate Inherits="CodeTemplate" TargetLanguage="java" Language="C#" Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CustomCodeSmithHelper" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CustomCodeSmithHelper" %>

<%-- 要打印的表 --%>
<%@ Property Name="Table" Type="TableSchema" DeepLoad="True" Optional="False" Category="01. Getting Started - Required"Description="Database that the tables views, and stored procedures shouldbe based on. IMPORTANT!!! If SourceTables and SourceViews are left blank, theEntire Database will then be generated." %>
<%@ Property Name="DeveloperName" Type="String" Category="Context" Description="The name to include in the comment header" %>
<%@ Property Name="ModulePackageName" Type="String" Category="Context" Description="The name to include in the comment header" %>

package com.zee.bll.extend.split.<%=ModulePackageName%>;

import org.springframework.stereotype.Service;

import com.zee.bll.generate.split.<%=ModulePackageName%>.<%=StringUtil.ToPascalCase(Table.Name)%>GenSplBll;


/**
 * @author <%= DeveloperName%>
 * @createDate 2017/05/22 14:39:59
 * @updateDate <%= DateTime.Now %>
 * @description <%=Table.Description%> 业务逻辑处理类，扩展自BaseSplBll<<%=StringUtil.ToPascalCase(Table.Name)%>>，可手动更改。
 */
@Service("<%=StringUtil.ToCamelCase(Table.Name)%>SplBll")
public class <%=StringUtil.ToPascalCase(Table.Name)%>SplBll extends <%=StringUtil.ToPascalCase(Table.Name)%>GenSplBll {



}





