<%@ CodeTemplate Inherits="CodeTemplate" TargetLanguage="JavaScript"  Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8"%>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%-- 要打印的表 --%>
<%@ Property Name="Table" Type="TableSchema" DeepLoad="True" Optional="False" Category="01. Getting Started - Required"Description="Database that the tables views, and stored procedures shouldbe based on. IMPORTANT!!! If SourceTables and SourceViews are left blank, theEntire Database will then be generated." %>

/**
 * @author Zee
 * @createDate 2018/01/16 01:48:00
 * @updateDate <%= DateTime.Now %>
 * @description  <%=Table.Description%> 相关页面的js方法。
 */

$(document).ready(function() {

	
	//初始化列表页主体部分，包括查询条件表单及数据表格等。
	var pageParam = {
		formId : "queryBuilderForm",
		tableId : "contentTable",
		editPage : {
			title : "批量修改表单",
			url : RP_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_EDIT
		},
		detailPage : {
			url : RP_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_DETAIL
		},
		addPage : {
			url : RP_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_ADD
		},
		deleteInterface : {
			url : RU_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_DELETE
		},
		deleteListInterface : {
			url : RU_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_DELETELIST
		}

	};
	var ajaxParam = {
		url : RU_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_GETLISTBYJSONDATA,
		type : "GET",
		submitData : {
			"entityRelated" : {

			},
			"orderList" : [ {
				"columnName" : "id",
				"isASC" : true
			} ],
			"page" : {
				"pageIndex" : DEFAULT_PAGE_INDEX,
				"pageSize" : DEFAULT_PAGE_SIZE
			}
		},
		columnInfo : [ 
        
        <%ColumnSchemaCollection columns= Table.Columns; 
int writeCount=0;    

for(int i=0;i<columns.Count;i++){
            ColumnSchema col =columns[i];
                if(col.Name.Contains("id")||col.Name.Contains("id")||col.Name.Contains("code")||col.Name.Contains("text")||col.Name.Contains("time"))
                    continue;
            writeCount++;
                if(writeCount==6)break;
                String columnDescription=col.Description;
                if(columnDescription.Contains("。"))
                    columnDescription=columnDescription.Substring(0,columnDescription.IndexOf("。"));
            %>
			 {
			"columnName" : "<%=StringUtil.ToCamelCase(col.Name)%>",
			"columnText" : "<%=columnDescription%>",
			"style" : "text-align:left",
            <%if(writeCount==1){ %>
			"linkFunction" : function(event) {
				var href = RP_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_DETAIL + "?" + RECORD_ID + "=" + event.id;
				return href;
			},
            <%}if(col.Name.Contains("code")) {%>
			"bgcolorFunction" : function(event) {
				if (event.<%=StringUtil.ToCamelCase(col.Name)%> == "1")
					return "label label-sm label-warning";
				return "label label-sm label-success";
			}
            <%}Response.WriteLine(writeCount==5?"			}":"			}, ");} %>
        
       ]
	};

	var operationParam = [ {
		"operationText" : "修改",
		"buttonClass" : "yellow",
		"iconClass" : "fa fa-pencil-square-o",
		"clickFunction" : function(event) {
			window.location.href = pageParam.editPage.url + "?" + RECORD_ID + "=" + event.data.id;
		}
	}, {
		"operationText" : "删除",
		"buttonClass" : "red",
		"iconClass" : "fa fa-trash-o",
		"clickFunction" : function(event) {
			layer.confirm('您确定要删除当前记录？', {
				btn : [ '确定', '取消' ]
			}, function() {
				layer.closeAll('dialog');
				ajaxParam.submitData.page.pageSize = $("#pageSizeText").val();
				ajaxParam.submitData.page.pageIndex = $("#pageIndexHidden").val();
				pageParam.deleteInterface.url = RU_<%=StringUtil.ToPascalCase(Table.Name).ToUpper()%>_DELETE;
				pageParam.deleteInterface.type = "GET";
				pageParam.deleteInterface.submitData = {
					"id" : event.data.id,
				};
				deleteRecord(pageParam, ajaxParam, operationParam);
			});
		},
		"visibleFunction" : function(recordData) {
			if (recordData.status == "1")
				return false;
			return true;
		}
	} ];
	initQueryForm(pageParam, ajaxParam, operationParam);

});